<section class="card border-primary bg-primary mb-3">
<div class="card-body">
    <h1>Sobre mi</h1>
    <p>Me considero una persona dedicada, perseverante, creativa y con muchas ganas de trabajar desarrollando aplicaciones web, móviles o de escritorio. Mi experiencia como digitador me ha permitido manejar la presión, mantenerme concentrado y conseguir gran rapidez en la toma de decisiones para solucionar diversos problemas.</p>
</div>
</section>