
<div class="jumbotron mt-4" style="background-color: #B0BEC5;color:#17202A ;">
    <h1 class="display-5">
        Aplicación Web con NodeJS y Mongodb
    </h1>
    <p class="lead">App demostrativa rest full </p>

    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet id aperiam praesentium hic fugiat placeat repellat deserunt minus, quam sit?</p>
</div>