<footer class="mt-2 py-4 text-center" >
    <p>© Andi Joel Infante Silva, 2020.</p>
    <div class="form-group">
        <a href="https://www.facebook.com/Andi.Infante.S" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/andi-inf-sil/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
        <i class="fab fa-twitter-square fa-3x"></i>
    </div>
</footer>
